*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/grid.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(231, 202, 202);
    margin: 0;
}
#container{
    background-color: rgba(48, 9, 9, 0.6);
    width: 80%;
    margin: auto;
    height: 70%;
}
h1{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
input{
    width: 20%;
    height: 5vh;
    margin-left: 40%;
    border: 3px solid rgb(29, 28, 31);
    border-radius: 0.8rem;
    background-color: rgb(120, 21, 212, 0.2);
    font-size: 2rem;
    color: azure;
}
p{
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    text-align: center;
    margin-top: 10%;
}
#number{
    width: 20%;
    height: 5vh;
    margin-left: 40%;
    
  
    
}
button{
    width: 10%;
    height: 5vh;
    margin-left: 45%;
    margin-top: 5%;
    border-radius: 15px;
    background-color: crimson;
    border: none;
    color: aliceblue;
    font-size: 1.7rem;
    font-weight: bold;
}
h5{
    font-size: 1.75rem;
    text-align: center;
}

h4{
    font-size: 1.3rem;
    text-align: center;
    background-color: black;
    color: white;
    width: 30%;
    height: 3vh;
    margin-left: 35%;
}